<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar pagina-home</title>

    <!-- styles -->
    <link rel="stylesheet" href="styles/globa.css">
    <link rel="stylesheet" href="styles/home.css">

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div id="home" class="content">
        <header>
            <img src="img/logo.svg" alt="Rockeqt.Q logo" srcset="">
        </header>

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>
        <main>
            <div class="container">
                <section>
                    <form action="">
                        <h2>Crie sua propria sala</h2>
                        <label for="romm-pass" class="sr-only">Codigo da sala</label>
                        <input type="password" id="romm-pass" placeholder="insira uma senha">
                        <button>
                            <img src="img/users-white.svg" alt="image button enter" >
                            Criar Sala
                        </button>
                    </form>
                
            </div>
        </main>
    </div>
</body>
</html>