
        <section>
            <form action="/create-room" method="post">
                <h2>Crie sua propria sala</h2>
                <label for="romm-pass" class="sr-only">Codigo da sala</label>
                <input type="password" id="romm-pass" placeholder="insira uma senha" name="password" required>
                <button>
                    <img src="/img/users-white.svg" alt="image button enter">
                    Criar Sala
                </button>
            </form>