<div class="no-questions">
    <img src="../../../img/noquestion.svg" alt="sem perguntas">
    <p>Nehuma pergunta por aqui..</p>
    <p>Faça sua primeira pergunta e envie <br>o codigo desse sala para outras pessoas</p>
</div>